<h1 class="center">Manage users.</h1>
<% if user_signed_in? && current_user.isAdmin %>
  <table class="table-striped table-hover table">
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Toggle Admin Status</th>
    <th>isBanned?</th>
    <th>Delete account.</th>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.nick %></td>
        <td><%= u.email %></td>
        <td><form action="updateAdminStatus" method="PUT">
        <% if u.isAdmin %>
        <input type=submit value="Yes" class="btn btn-success">
        <% else %>
        <input type=submit value="No" class="btn btn-warning">
        <% end %>
        <input type="hidden" value="<%= u.id %>" name="id"></form></td>
        <td><form action="setIsBanned" method="PUT">
        <% if u.isBanned %>
        <input type=submit value="Yes" class="btn btn-success">
        <% else %>
        <input type=submit value="No" class="btn btn-warning">
        <% end %>
        <input type="hidden" value="<%= u.id %>" name="id"></form></td>
        <td><%= link_to 'Delete account', admin_destroy_user_path(u), method: :delete, data: {confirm: "are you sure?"}  %> </td>
        
      </tr>
    <% end %>
<% else %>
<h1>Access denied!</h1>
<% end %>